$c-white: #ffffff;
$c-text: #111111;
$c-primary: #DC3050;
$c-transition: hsl(343, 64%, 43%);
$c-border: #f0f0f0;
$c-border-d: #e9e9e9;
$c-tag: #666;
$c-tag-bg: #f4f4f4;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

$font-sans: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$font-mt: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

$z-indexes: ('transition', 'preloader', 'navigation', 'content');
